@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');

html {
  font-family: 'Manrope', sans-serif;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #141414;
}

h1, h2 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
}